body {
  background-color: #d6e0f0;
}

.About {
  background-color: #8d93ab;
  margin: 4rem 0;
  padding: 2rem 0;
}
.Contact {
  background-color: #8d93ab;
  margin: 4rem 0;
  padding: 2rem 0;
}

.jumbotron {
  background-color: #8d93ab;
  height: 40%;
  width: 40%;
  margin: auto;
  margin-top: 4rem;
}

.navbar {
  background-color: #393b44;
}

.aboutimg {
  height: 40%;
  width: 40%;
  margin: 2rem;
}

.LoginForm {
  width: 50%;
  margin: auto;
  background-color: #8d93ab;
}

.LoginInput {
  width: 60%;
  margin: 4rem auto;
  padding: 2rem 0;
}
.SignUpForm {
  width: 50%;
  margin: 4rem auto;
  background-color: #8d93ab;
  padding: 2rem 0;
}
.SignupInput {
  width: 60%;
  margin: 2rem auto;
  padding: 2rem 0;
}

.Recipes {
  background-color: #8d93ab;
  height: 100%;
  width: 100%;
  margin: 4rem auto;
  padding: 2rem 2rem;
}

.MiniRecipe {
  background-color: #393b44;
  color: #d6e0f0;
}

.Profile {
  background-color: #8d93ab;
  height: 100%;
  width: 100%;
  margin-top: 4rem;
  padding: 2rem;
}

.RecipeForm {
  background-color: #8d93ab;
  height: 100%;
  width: 60%;
  margin: 4rem auto;
  padding: 2rem;
}

.RecipeInput {
  width: 70%;
  margin: 2rem auto;
}

.delete-button {
  height: 50%;
  margin: auto;
}
