body {
  background-color: #d6e0f0;
}

.About {
  background-color: #8d93ab;
  margin: 4rem 0;
  padding: 2rem 0;
}

.jumbotron {
  background-color: #8d93ab;
  height: 40%;
  width: 40%;
  margin: auto;
  margin-top: 4rem;
}

.navbar {
  background-color: #393b44;
}

.aboutimg {
  height: 40%;
  width: 40%;
  margin: 2rem;
}
